# Created by https://www.toptal.com/developers/gitignore/api/helm,vscode
# Edit at https://www.toptal.com/developers/gitignore?templates=helm,vscode

### Helm ###
# Chart dependencies
**/charts/*.tgz
# /charts/**/charts/
**/*test-values.y*ml

### vscode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# OPA
addons/policies/deprek8ion/
addons/policies/portefaix/

# End of https://www.toptal.com/developers/gitignore/api/helm,vscode
