---
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: {{ printf "%s-%s" (include "promtail-mixin.fullname" .) "alerts" | trunc 63 | trimSuffix "-" }}
  namespace: {{ include "promtail-mixin.namespace" . }}
  annotations:
    {{- include "promtail-mixin.annotations" . | indent 4 }}
  labels:
    {{- include "promtail-mixin.labels" . | indent 4 }}
    {{- if .Values.monitor.additionalLabels }}
    {{- toYaml .Values.monitor.additionalLabels | nindent 4 }}
    {{- end }}
spec:
  groups:
  - name: promtail_alerts
    rules:
    - alert: PromtailRequestsErrors
      annotations:
        message: |
          {{`{{`}} $labels.job {{`}}`}} {{`{{`}} $labels.route {{`}}`}} is experiencing {{`{{`}} printf "%.2f" $value {{`}}`}}% errors.
      expr: |
        100 * sum(rate(promtail_request_duration_seconds_count{status_code=~"5..|failed"}[1m])) by (namespace, job, route, instance)
          /
        sum(rate(promtail_request_duration_seconds_count[1m])) by (namespace, job, route, instance)
          > 10
      for: 15m
      labels:
        severity: critical
    - alert: PromtailRequestLatency
      annotations:
        message: |
          {{`{{`}} $labels.job {{`}}`}} {{`{{`}} $labels.route {{`}}`}} is experiencing {{`{{`}} printf "%.2f" $value {{`}}`}}s 99th percentile latency.
      expr: |
        job_status_code_namespace:promtail_request_duration_seconds:99quantile > 1
      for: 15m
      labels:
        severity: critical
    - alert: PromtailFileMissing
      annotations:
        message: |
          {{`{{`}} $labels.instance {{`}}`}} {{`{{`}} $labels.job {{`}}`}} {{`{{`}} $labels.path {{`}}`}} matches the glob but is not being tailed.
      expr: |
        promtail_file_bytes_total unless promtail_read_bytes_total
      for: 15m
      labels:
        severity: critical
