---
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: {{ printf "%s-%s" (include "fluxcd-mixin.fullname" .) "alerts" | trunc 63 | trimSuffix "-" }}
  namespace: {{ include "fluxcd-mixin.namespace" . }}
  annotations:
    {{- include "fluxcd-mixin.annotations" . | indent 4 }}
  labels:
    {{- include "fluxcd-mixin.labels" . | indent 4 }}
    {{- if .Values.monitor.additionalLabels }}
    {{- toYaml .Values.monitor.additionalLabels | nindent 4 }}
    {{- end }}
spec:
  groups:
  - name: fluxcd
    rules:
    - alert: ReconciliationFailure
      annotations:
        message: '{{`{{`}} $labels.kind {{`}}`}} {{`{{`}} $labels.namespace {{`}}`}}/{{`{{`}} $labels.name {{`}}`}} reconciliation
          has been failing.'
        runbook_url: https://github.com/nlamirault/monitoring-mixin/tree/master/runbook.md#alert-name-reconciliationfailure
        summary: Reconciliation failure.
      expr: max(gotk_reconcile_condition{status="False",type="Ready"}) by (namespace,
        name, kind) + on(namespace, name, kind) (max(gotk_reconcile_condition{status="Deleted"})
        by (namespace, name, kind)) * 2 == 1
      for: 10m
      labels:
        severity: warning
