# Copyright (C) 2020 Nicolas Lamirault <nicolas.lamirault@gmail.com>

# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: Lint and Test Charts

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# jobs:
#   lint-test:
#     runs-on: ubuntu-latest
#     steps:
#       - name: Checkout
#         uses: actions/checkout@v2

#       - name: Set up Helm
#         uses: azure/setup-helm@v1
#         with:
#           version: v3.4.0

#       - uses: actions/setup-python@v2
#         with:
#           python-version: 3.7

#       - name: Set up chart-testing
#         uses: helm/chart-testing-action@v2.0.1

#       - name: Run chart-testing (lint)
#         id: lint
#         run: ct lint --config .github/ct.yaml
#         if: steps.list-changed.outputs.changed == 'true'

#       - name: Create kind cluster
#         uses: helm/kind-action@v1.1.0
#         if: steps.list-changed.outputs.changed == 'true'

#       - name: Run chart-testing (install)
#         run: ct install --config .github/ct.yaml
#         if: steps.list-changed.outputs.changed == 'true'



jobs:
  # Reference https://github.com/marketplace/actions/helm-chart-testing
  lint-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Fetch history
        run: git fetch --prune --unshallow

      - name: Run chart-testing (lint)
        id: lint
        uses: helm/chart-testing-action@v1.1.0
        with:
          command: lint
          config: .github/config/cf.yaml

      - name: Create kind cluster
        uses: helm/kind-action@v1.0.0
        # Only build a kind cluster if there are chart changes to test.
        if: steps.lint.outputs.changed == 'true'

      - name: Run chart-testing (install)
        uses: helm/chart-testing-action@v1.1.0
        with:
          command: install
          config: .github/config/cf.yaml
