---
name: Project / Renovate

on:
  schedule:
    - cron: '0 * * * 0'
  workflow_dispatch:

env:
  RENOVATE_CONFIG_FILE: .github/renovate.json5

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0

      - name: Renovate
        uses: renovatebot/github-action@03026bd55840025343414baec5d9337c5f9c7ea7 # v44.0.4
        env:
          RENOVATE_ALLOWED_COMMANDS: '["./hack/chart-version.sh"]'
