---
name: Project / Renovate

on:
  schedule:
    - cron: '0 * * * 0'
  workflow_dispatch:

env:
  RENOVATE_CONFIG_FILE: .github/renovate.json5

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Renovate
        uses: renovatebot/github-action@5712c6a41dea6cdf32c72d92a763bd417e6606aa # v44.0.5
        env:
          RENOVATE_ALLOWED_COMMANDS: '["./hack/chart-version.sh"]'
