---
name: Project / Renovate

on:
  schedule:
    - cron: '0 * * * 0'
  workflow_dispatch:

env:
  RENOVATE_CONFIG_FILE: .github/renovate.json5

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0

      - name: Renovate
        uses: renovatebot/github-action@4ebebabcd582dddea1692b05c3d5279f8e372b53 # v44.0.0
        env:
          RENOVATE_ALLOWED_COMMANDS: '["./hack/chart-version.sh"]'
